<h1>Maaaazo de eventos</h1>

<ul class="list-group">

    {{#each allEvents}}

    <li class="list-group"> {{title}}</li>
    <form id="join-form" action="/eventos/{{id}}/unirse" method="POST">
        {{!-- <input type="text" name="eventId" value="{{id}}"> --}}
        <button id="btn-join" class="btn btn-dark" style="background-color: #7859d3">Unirme al evento</button>
    </form>

    <form action="/eventos/{{id}}/desunirse" method="POST">
        <button class="btn btn-warning">Desunirme al evento</button>
    </form>

    <form action="/eventos/{{id}}/eliminar" method="POST">
        <button class="btn btn-danger">Eliminar evento</button>
    </form>

    <a class="btn btn-info" href="/eventos/{{id}}/editar">Editar evento</a>

    {{/each}}

</ul>

{{!--
<script src="/js/joinButton.js"></script> --}}