<div class="container">

    <div class="card case-card">
        <div class="card-header">
            Caso de {{caso.creator.username}}
        </div>
        <div class="card-header">
            <h5 class="card-title">{{caso.description}}</h5>

            {{#if isSelf}}

            <div class="case-details-buttons">
                <form action="/usuario/{{id}}/{{caso._id}}/eliminar" method="POST">
                    <button class="btn btn-dark" style="background-color: #f05811;">Eliminar caso</button>
                </form>

                <a class="btn btn-dark" style="background-color: #e6d412;" href="/usuario/{{id}}/{{caso._id}}/editar"
                    class="btn-dark">Editar caso</a>
            </div>

            {{else isEditor}}

            <div class="case-details-buttons">
                <form action="/usuario/{{id}}/{{caso._id}}/eliminar" method="POST">
                    <button class="btn btn-dark" style="background-color: #f05811;">Eliminar caso</button>
                </form>

                <a class="btn btn-dark" style="background-color: #e6d412;" href="/usuario/{{id}}/{{caso._id}}/editar"
                    class="btn-dark">Editar caso</a>
            </div>

            {{/if}}
        </div>

        <div class="card-body">

            <h5 class="card-title comments">Comentarios</h5>

            {{#if disableComments}}

            <p class="card-text">LOS COMENTARIOS NO ESTÁN HABILITADOS PARA ESTE CASO.</p>

            {{/if}}

            {{#if includesComments}}

            <ul class="list-group">

                {{#each comments}}
                <li class="list-group-item">

                    <div class="comment-details">
                        <p class="postedBy">Comentario de {{this.comment.creator.username}}</p>
                        <p><strong>{{this.comment.content}}</strong></p>
                    </div>

                    {{#if this.isOwned}}

                    <form action="/usuario/{{this.comment._id}}/eliminar-comentario" method="POST">
                        <button class="btn btn-dark" style="background-color: #ad0a33">Borrar</button>
                    </form>

                    {{else ../isEditor}}

                    <form action="/usuario/{{this.comment._id}}/eliminar-comentario" method="POST">
                        <button class="btn btn-dark" style="background-color: #ad0a33">Borrar</button>
                    </form>

                    {{/if}}

                </li>
                {{/each}}

            </ul>

            <div class="container" id="comments">

                <form class="form-group new-comment" action="/usuario/{{id}}/caso/comentar" method="POST">
                    <label for="comment">Añadir comentario: </label>
                    <textarea class="form-control" id="comment" rows="3" name="content"></textarea>
                    <input type="hidden" name="caseId" value="{{caso._id}}">
                    <input type="hidden" name="creator" value="{{id}}">

                    <button class="btn btn-dark" style="background-color: #980aad">Añadir</button>
                </form>

            </div>

            {{/if}}


        </div>

    </div>