<div class="container">

    <div class="card case-card">
        <div class="card-header">
            Caso de {{caso.creator.username}}
        </div>
        <div class="card-header content">
            <h5 class="card-title">{{caso.description}}</h5>

            {{#if isSelf}}

            <div class="case-details-buttons">

                <a class="btn btn-dark btn-white" href="/usuario/{{id}}/{{caso._id}}/editar" class="btn-dark">Editar
                    caso</a>

                <form action="/usuario/{{id}}/{{caso._id}}/eliminar" method="POST">
                    <button class="btn btn-dark" style="background-color: #FABE60;">Eliminar caso</button>
                </form>
            </div>

            {{else isEditor}}

            <div class="case-details-buttons">
                <a class="btn btn-dark btn-white" href="/usuario/{{id}}/{{caso._id}}/editar">Editar caso</a>

                <form action="/usuario/{{id}}/{{caso._id}}/eliminar" method="POST">
                    <button class="btn btn-dark" style="background-color: #FABE60;">Eliminar caso</button>
                </form>
            </div>

            {{/if}}
        </div>

        <div class="card-body">

            <div class="comments-container">
                <h5 class="card-title comments">COMENTARIOS</h5>

                {{#if disableComments}}

                <p class="card-text">LOS COMENTARIOS NO ESTÁN HABILITADOS PARA ESTE CASO.</p>

                {{/if}}

                {{#if includesComments}}

                <ul class="list-group">

                    {{#each comments}}
                    <li class="list-group-item">

                        <div class="comment-details">
                            <p class="postedBy">-- {{this.comment.creator.username}}</p>
                            <p class="comment">{{this.comment.content}}</p>
                        </div>

                        {{#if this.isOwned}}

                        <form action="/usuario/{{this.comment._id}}/eliminar-comentario" method="POST">
                            <button class="btn btn-dark" style="background-color: #FABE60">Eliminar</button>
                        </form>

                        {{else ../isEditor}}

                        <form action="/usuario/{{this.comment._id}}/eliminar-comentario" method="POST">
                            <button class="btn btn-dark" style="background-color: #FABE60">Eliminar</button>
                        </form>

                        {{/if}}

                    </li>
                    {{/each}}

                </ul>

            </div>



            <div class="container" id="comments">

                <h5>¿Te gustaría dejar un mensaje a {{caso.creator.username}}?</h5>

                <form class="form-group new-comment" action="/usuario/{{id}}/caso/comentar" method="POST">
                    <textarea class="form-control" id="comment" rows="3" name="content"></textarea>
                    <input type="hidden" name="caseId" value="{{caso._id}}">
                    <input type="hidden" name="creator" value="{{id}}">

                    <button class="btn btn-dark" style="background-color: #a482b0">Enviar</button>
                </form>

            </div>

            {{/if}}


        </div>

    </div>