<div class="container">

    <div class="row">

        <div class="col-8">
            <article>
                {{caso.description}}
                <hr>
                <p>
                    Creado por {{caso.creator.username}}
                </p>
            </article>



            {{#if isSelf}}

            <form action="/usuario/{{id}}/{{caso._id}}/eliminar" method="POST">
                <button class="btn btn-dark" style="background-color: #f05811;">Eliminar caso</button>
            </form>

            <a class="btn btn-dark" style="background-color: #e6d412;" href="/usuario/{{id}}/{{caso._id}}/editar"
                class="btn-dark">Editar caso</a>




            {{else isEditor}}


            <form action="/usuario/{{id}}/{{caso._id}}/eliminar" method="POST">
                <button class="btn btn-dark" style="background-color: #f05811;">Eliminar caso</button>
            </form>

            <a class="btn btn-dark" style="background-color: #e6d412;" href="/usuario/{{id}}/{{caso._id}}/editar"
                class="btn-dark">Editar caso</a>

            {{/if}}



            <div class="container" id="comments">

                {{#if disableComments}}

                <p>LOS COMENTARIOS NO ESTÁN HABILITADOS PARA ESTE CASO</p>

                {{/if}}

                {{#if includesComments}}

                <div class="container" id="commets">

                    <form class="form-group" action="/usuario/{{id}}/caso/comentar" method="POST">
                        <label for="comment">Comenta</label>
                        <textarea class="form-control" id="comment" rows="3" name="content"></textarea>
                        <input type="hidden" name="caseId" value="{{caso._id}}">
                        <input type="hidden" name="creator" value="{{id}}">

                        <button class="btn btn-dark" style="background-color: #980aad">Añadir</button>
                    </form>

                    <ul class="list-group">


                        {{#each comments}}
                        <li class="list-group-item">{{this.comment.content}}
                            <p class="postedBy"> <strong>{{this.comment.creator.username}}</strong> </p>




                            {{#if ../isEditor}}



                            <form action="/usuario/{{this.comment._id}}/eliminar-comentario" method="POST">
                                <button class="btn btn-dark" style="background-color: #ad0a33">Borrar</button>
                            </form>

                            {{/if}}


                            {{#if this.isOwned}}


                            <form action="/usuario/{{this.comment._id}}/eliminar-comentario" method="POST">
                                <button class="btn btn-dark" style="background-color: #ad0a33">Borrar</button>
                            </form>

                            {{/if}}



                        </li>
                        {{/each}}

                    </ul>

                </div>

                {{/if}}

            </div>

        </div>

    </div>