<div class="container">

    <div class="panel-header">
        <h2 class="title">¡Bienvenida {{user.username}}!</h2>
        <a href="#editForm">
            <button id="edit-user-btn" class="btn btn-sm btn-dark" style="background-color: #a482b0">Editar
                Perfil</button>
        </a>
    </div>

    

    <hr>
    <div class="row panel justify-content-center">

        <div class="col-6 panelDiv">

            <div class="card-body adminPanel">

                {{#if isAdmin}}

                <ul>
                    {{#each allUsers}}
                    <li> <strong>Usuario: </strong>{{username}}<strong>ID:</strong>{{id}}</li>
                    <form action="/usuario/{{id}}/eliminar" method="POST"> <button
                            class="btn-sm btn-dark button-center">
                            eliminar</button> </form>
                    {{/each}}
                </ul>

                {{/if}}
            </div>

            <div class="card-body mycasesPanel">
                <h3 class="card-title"> Estos son los casos que has compartido: </h3>
                <section>
                    {{#each allUserCases}}
                    <div class="card case">
                        {{description}} <a href="/usuario/{{creator._id}}/{{_id}}"
                            class="btn btn-sm btn-dark">Detalle</a>
                    </div>
                    {{/each}}
                </section>
            </div>

        </div>


        <div class="col-6 card-body myEventsPanel">
            <h2 class="card-title">Mis próximos eventos</h2>

            <ul class="list-group eventsList">

                {{#each user.events}}
                <li class="list-group-item eventList">
                    <h6><strong>{{title}}</strong></h6>

                    <article>

                        <div class="user-events-panel">
                            <a class="btn btn-dark" href="{{location.URL}}">Cómo Llegar</a>
                            <form action="/eventos/{{id}}/desunirse" method="POST">
                                <button class="btn btn-dark center-button cancel-btn">Cancelar asistencia</button>
                            </form>
                        </div>
                    </article>



                </li>
                {{/each}}
            </ul>

        </div>

        <div class="col-8 editorPanel">

            <hr>

            {{#if isEditor}}

            <div class="container card-body events-list">

                <h2 class="card-title">LISTA DE EVENTOS</h2>

                <div class="list-group eventList">
                    {{#each allEvents}}
                    <li class="list-group-item">
                        <h5>{{title}}</h5>

                        <div class="manage-events-buttons">
                            <form action="/eventos/{{id}}/eliminar" method="POST">
                                <button class="btn btn-danger">Eliminar evento</button>
                            </form>
                            <a href="/eventos/{{id}}/editar" class="btn btn-dark">Editar</a>
                        </div>

                    </li>
                    {{/each}}
                </div>

                <div class="d-grid gap-2">
                    <a href="/eventos/crear" id="create-event" class="btn-block btn-dark"
                        style="background-color: #a482b0">Crear Evento</a>
                </div>

                <hr>
            </div>

            {{/if}}
        </div>


<a id="editForm">
    <form id="edit-form" class="editUser-off" action="/usuario/{{user._id}}/editar" method="POST">
</a>
    <div class="mb-3">
        <label for="emailInput" class="form-label">Dirección de email</label>
        <input type="email" class="form-control" id="emailInput" name="email">
    </div>

    <div class="mb-3">
        <label for="usernameInput" class="form-label">Nombre de usuario</label>
        <input type="text" class="form-control" id="usernameInput" name="username">
    </div>

    <div class="mb-3">
        <label for="idInput" class="form-label"></label>
        <input type="hidden" class="form-control" id="idInput" name="id" value="{{user._id}}">
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-dark block">Actualizar datos</button>
    </div>

</form>



    </div>

    <script src="/js/DOM/editProfile.js"></script>