<div class="container">


    <h2 class="title">Bienvenida {{user.username}}</h2>
    <hr>
    <div class="row panel justify-content-center">

        <div class="col-6 panelDiv">

            <div class="card-body adminPanel">

                {{#if isAdmin}}

                <ul>
                    {{#each allUsers}}
                    <li> <strong>Usuario: </strong>{{username}}<strong>ID:</strong>{{id}}</li>
                    <form action="/usuario/{{id}}/eliminar" method="POST"> <button class="btn-sm btn-dark button-center">
                            eliminar</button> </form>
                    {{/each}}
                </ul>

                {{/if}}
            </div>

            <div class="card-body mycasesPanel">
                <h3 class="card-title"> Mis Casos </h3>
                <section>
                    {{#each allUserCases}}
                    <div class="card case" style="width: 18rem;">
                        {{description}} <a href="/usuario/{{creator._id}}/{{_id}}"
                            class="btn btn-sm btn-dark">Detalle</a>
                    </div>
                    {{/each}}
                </section>
            </div>

            <hr>
        </div>


        <div class="col-6 card-body myEventsPanel">
            <h2 class="card-title">Mis próximos eventos</h2>

            <ul class="list-group eventsList">

                {{#each user.events}}
                <li class="list-group-item eventList">
                    <h6><strong>{{title}}</strong></h6>

                    <article>

                        <div>
                            <a class="btn btn-dark " href="{{location.URL}}">Cómo Llegar</a>
                            <form action="/eventos/{{id}}/desunirse" method="POST">
                                <button class="btn-sm btn-dark center-button cancel-btn">Cancelar asistencia</button>
                            </form>
                        </div>
                    </article>



                </li>
                {{/each}}
            </ul>
            <hr>
        </div>


        <div class="col-8 editorPanel">

            {{#if isEditor}}

            <div class="container card-body">

                <h2 class="card-title">LISTA DE EVENTOS</h2>

                <div class="list-group eventList">
                    {{#each allEvents}}
                    <div class="row list-group-item aligne-items-center">
                        <div class="col-3">
                            <h5>{{title}}</h5>
                        </div>

                        <div class="col-3" >
                            <form class"col-3" action="/eventos/{{id}}/eliminar" method="POST">
                                <button class="btn btn-danger">Eliminar evento</button>
                            </form>
                        </div>
                        <div class="col-3"><a  href="/eventos/{{id}}/editar" class="btn btn-info">Editar este EVENTO</a></div>
                    </div>
                    {{/each}}
                </div>

                <a href="/eventos/crear" id="edit-user-btn" class="btn boton-center btn-sm btn-dark"
                    style="background-color: #a482b0">Crear
                    Evento</a>
                <hr>
            </div>

            {{/if}}
        </div>

        <div class="col-8 center-panel">

            <button id="edit-user-btn" class="btn btn-sm btn-dark" style="background-color: #a482b0">Editar
                Perfil</button>

            <form id="edit-form" class="editUser-off" action="/usuario/{{user._id}}/editar" method="POST">
                <div class="mb-3">
                    <label for="emailInput" class="form-label">Dirección de email</label>
                    <input type="email" class="form-control" id="emailInput" name="email">
                </div>

                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="usernameInput" name="username">
                </div>

                <div class="mb-3">
                    <label for="idInput" class="form-label"></label>
                    <input type="hidden" class="form-control" id="idInput" name="id" value="{{user._id}}">
                </div>

                <div class="botton-center gap-2">
                    <button type="submit" class="btn btn-dark block">Actualizar datos</button>
                </div>

            </form>

        </div>




    </div>

    <script src="/js/DOM/editProfile.js"></script>